<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo classify">Classify</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#login-modal" class="modal-trigger">Sign in!</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Sign in!</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<% if (page.parent && isLoggedIn()) { %>
    <span id="breadcrumb">
        <a href="/<%=page.language%>/dashboard">
            <%= __("Dashboard")%>
        </a>
         » <%=page.parent.title%>
    </span>
<% } %>
<section>
    <% if (isLoggedIn()) { %>
        <a href="/<%=page.language%>/users?request=edit&id=<%=login.id%>"><%= __("Account")%></a>
        <a href="/<%=page.language%>/login/logout"><%= __("Sign out")%></a>
    <% } %>
</section>